@use "variables" as *;

// blog header styling

.blogHeader{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)),url(../assets/images/blog-header.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
    }
.headerTextContainer{
    padding: 100px 0;
}
.blogHeaderText{
    text-align: center;
}

// blogWrap changes
.blogWrap{
    display: flex;
    justify-content: space-between;
}

// aside styling
.asideContainer{
    background-color: $secondaryColor;
    padding: 0 20px;
}

.asideText{
    padding:16px;
    h4{
        margin-top: 0;
        font-size: 24px;
    }
    p{
        line-height: 32px;
        margin-bottom: 20px;
    }
} 

.blogAside{
    width: 30%;
    padding: 100px 0;
    img{
        width: 120%;
        position: relative;
        top: -22px;
        left: -64px;
        border: none;
    }
}


.asideList{
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    color: $white;
    padding: 20px;
    li{
        padding: 2px;
    }
}



// blog styling
.blogSection{
    width: 60%;
    margin-top: -430px;
}

.blogSection .blogImage img{
    box-shadow: -45px 50px 0px 1px $blueBox;
    width: 100%;
}

.blogSection .blogPost{
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 5px;
    box-shadow: inset 5px -5px 0px 0px $blueBox
}

.blogPost h3{
    text-align: left;
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 0;
}

.blogPost p{
    margin: 20px 0;
    line-height: 32px;
}

.blogPost, .commentBlock, .blogForm{
    padding-right: 50px;
}

.blogComments{
    padding: 50px 0;
}

.blogComments h3{
    text-align: left;
}

.commentContainer{
    display: flex;
    img{
        margin-top: 30px;
    }
    .commentText{
        padding-left: 20px;
        p{
            margin: 20px 0;
            line-height: 32px;
        }
    }
}

// form styling

.blogForm fieldset {
    padding: 0;
    border: 0;
    .fieldSetWrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        label {
            display: none;
        }

        input {
            display: flex;
            background-color: $primaryColor;
            border-style: none;
            border-bottom: 2px solid $blueBox;
            margin-bottom: 60px;
            padding: 30px 20px;
            width: 45%;
            color: white;
        }

        textarea {
            background-color: $primaryColor;
            border: 2px solid $blueBox;
            width: 100%;
            padding: 20px;
            color: $white;
        }
    }
}

.commentSubmit{
    background-color: $secondaryColor;
    width: 100%;
    color: $white;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
  }


// Media queries

@media (max-width: $tablet){
    .asideContainer{
        display:none;
    }
    .blogSection{
        width: 100%;
        
    }
  }