@use "variables" as *;

// Header styles
h1 {
    font-family: $headingFont;
    font-size: 138px;
    line-height: 126px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .mainHeader {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3)),url(../assets/images/header-image.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      height: 100vh;
    }
  
   .contactHeader{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)),url(../assets/images/contact-header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    }
  
    
    
  .heroContainer{
    display: flex;
    padding: 100px 0;
  }

  .heroHead{
    width: 40%;
    z-index: 1;
  }

  .heroImg{
    position: absolute;
    right: 0;
    bottom: -100px;
    @media (max-width: $tablet){
      display:none;
    }
    img{
      max-width: 100%;
    }
  }
  // Nav and anchor styling
    .navBar{
      font-size: 32px;
      letter-spacing: 1px;
      ul li {
        padding: 30px;
      }
      @media (max-width: $mobile){
        ul li {
          padding: 15px;
        }
      }
      
    }
  
    nav a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      text-align: center;
      line-height: 29px;
      letter-spacing: 1px;
      &:hover{
          color: $blueBox;;
      }
      &:focus{
          color: $blueBox;;
      }
    }
    
  /* remove default styling from lists */
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  /* remove underline from anchor tags */
  a {
    text-decoration: none;
  }
  // Header styling ends
  
  