@use "variables" as *;

.newsSection {
    background-color: $secondaryColor;
    padding: 0;
}

.newsBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .imageContainer img{
        width: 100%;
    }
    .leftImage{
        position: relative;
        top: -30px;
        left: -100px;
        img{
            box-shadow: 30px 30px $blueBox;
        }
    }
    .rightImage{
        position: relative;
    bottom: -30px;
    right: -100px;
    img{
        box-shadow: -30px 30px 0px 0px $blueBox;
    }
    }
    }
    

// text box styling and sizing
.newsText{
    width: 45%;
    &.rightBox{
        text-align: right;
    }
    p{
        margin: 20px 0 30px;
        line-height: 32px;
    }
}

