@use "variables" as *;

// profile section
.profileSection{
    background-color: $primaryColor;
    display: flex;
    padding-bottom: 100px;
}

.profileContainer{
    display: flex;
    
}

// image styling and chages
.profileImage{
    display: flex;
}

.profileContainer img{
    box-shadow: 30px 30px $blueBox;
}



// text changes and styling
.profileText h3 {
    font-size: 42px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    margin: 20px 0;
}

.profileText p{
    line-height: 32px;
    padding-bottom: 50px;
}

.profileContainer .profileText{
    margin-left: 100px;
}