// COLOURS
$primaryColor:#0C1423;
$secondaryColor:#0F614E;
$blueBox:#86E0F9;
$white:#FFFFFF;

// fonts
$headingFont:"Barlow-Bold", sans-serif;
$bodyFont:"Lato-Regular", sans-serif;
$footerFont:"Lato-Regular", sans-serif;


// breakpoints

$desktop:"1000px";
$tablet:"810px";
$mobile:"500px";

