@use "partials/variables" as *;
@use "partials/typography";
@use "partials/headerStyles";
@use "partials/homePage";
@use "partials/blogStyle";
@use "partials/contactStyle";
@use "partials/footer";


.wrapper{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.flexContainer {
  display: flex;
}

main{
  background-color: $primaryColor;
}

// button styling
a{
  &.findButton{
      color: $primaryColor;
      background-color: $blueBox;
      padding: 10px 20px;
      margin: 20px 0;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      border: none;
      transition: 0.3s;
      &:hover{
          background-color: $secondaryColor;
          color: $white;
      }
      &:focus{
          background-color: $primaryColor;
          color: $white;
      }
  }
}

button{
  &.readButtonOne{
    color: $white;
    background-color: $primaryColor;
    font-family: $headingFont;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    transition: 0.3s;
    &:hover{
        background-color: $blueBox;
        color: $white;
    }
    &:focus{
        background-color: $blueBox;
        color: $white;
    }
}
&.readButtonTwo{
  color: $white;
  background-color: $primaryColor;
  font-family: $headingFont;
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  transition: 0.3s;
  &:hover{
      background-color: $blueBox;
      color: $white;
  }
  &:focus{
      background-color: $blueBox;
      color: $white;
  }
}
}


// modal button
button{
  &.findButton{
    color: $primaryColor;
    background-color: $blueBox;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: none;
    transition: 0.3s;
    &:hover{
        background-color: $secondaryColor;
        color: $white;
    }
    &:focus{
        background-color: $blueBox;
        color: $white;
    }
}
}

/* UTILITY CLASSES END */

html {
  font-size: 125%;
}

body,
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  
}
section {
  padding: 100px 0 50px 0;
}
