@font-face {
  font-family: "Barlow-Bold";
  src: url(../assets/fonts/Barlow/Barlow-Bold.ttf), url(../assets/fonts/Barlow/Barlow-Bold.woff), url(../assets/fonts/Barlow/Barlow-Bold.woff2);
  font-weight: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../assets/fonts/Lato/Lato-Regular.ttf), url(../assets/fonts/Lato/Lato-Regular.woff), url(../assets/fonts/Lato/Lato-Regular.woff2);
  font-weight: normal;
}
html {
  font-size: 125%;
}

body {
  font-family: "Lato-Regular", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
}

h1, h2, h3, h4, a, blockquote {
  font-family: "Barlow-Bold", sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0;
}

.smallH1 {
  font-size: 80px;
}

h4 {
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h1 {
  font-family: "Barlow-Bold", sans-serif;
  font-size: 138px;
  line-height: 126px;
  text-transform: uppercase;
  margin: 20px 0;
}

.mainHeader {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../assets/images/header-image.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../assets/images/header-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.contactHeader {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../assets/images/contact-header.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../assets/images/contact-header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.heroContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.heroHead {
  width: 40%;
  z-index: 1;
}

.heroImg {
  position: absolute;
  right: 0;
  bottom: -100px;
}
@media (max-width: 800px) {
  .heroImg {
    display: none;
  }
}
.heroImg img {
  max-width: 100%;
}

.navBar {
  font-size: 32px;
  letter-spacing: 1px;
}
.navBar ul li {
  padding: 30px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
}
nav a:hover {
  color: #86E0F9;
}
nav a:focus {
  color: #86E0F9;
}

/* remove default styling from lists */
ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

/* remove underline from anchor tags */
a {
  text-decoration: none;
}

.aboutSection {
  background-color: #0C1423;
  padding: 100px 0px;
  text-align: center;
}

.aboutText {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutText h3 {
  font-size: 42px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0;
}
.aboutText p {
  max-width: 75%;
  margin: 20px;
  line-height: 32px;
  text-align: left;
}

.newsSection {
  background-color: #0F614E;
  padding: 0;
}

.newsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.newsBox .imageContainer img {
  width: 100%;
}
.newsBox .leftImage {
  position: relative;
  top: -30px;
  left: -100px;
}
.newsBox .leftImage img {
  -webkit-box-shadow: 30px 30px #86E0F9;
          box-shadow: 30px 30px #86E0F9;
}
.newsBox .rightImage {
  position: relative;
  bottom: -30px;
  right: -100px;
}
.newsBox .rightImage img {
  -webkit-box-shadow: -30px 30px 0px 0px #86E0F9;
          box-shadow: -30px 30px 0px 0px #86E0F9;
}

.newsText {
  width: 45%;
}
.newsText.rightBox {
  text-align: right;
}
.newsText p {
  margin: 20px 0 30px;
  line-height: 32px;
}

.iconSection {
  background-color: #0C1423;
  padding-bottom: 50px;
}

.iconContainer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.iconContainer .flexIcon {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.iconContainer .flexIcon i {
  margin-right: 30px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 50%;
  padding: 20px 20px;
  height: 60px;
  background-color: #86E0F9;
  color: #0C1423;
  font-size: 25px;
}

.sharkBreak {
  background: url(../assets/images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.profileSection {
  background-color: #0C1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}

.profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profileContainer .profileImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profileContainer img {
  -webkit-box-shadow: 30px 30px #86E0F9;
          box-shadow: 30px 30px #86E0F9;
}

.profileText {
  margin-left: 100px;
}
.profileText h3 {
  font-size: 42px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  margin: 20px 0;
}
.profileText p {
  line-height: 32px;
  padding-bottom: 50px;
}

.cardSection {
  background-color: #0F614E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  max-width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 800px) {
  .newsTopRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newsBottomRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .newsText {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .iconContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .iconContainer .flexIcon {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .profileContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .profileContainer .profileImage {
    margin-bottom: 15px;
  }
  .profileContainer .profileText {
    text-align: center;
  }
  .profileContainer .profileText h3 {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .cardContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cardContainer .card {
    margin: 10px 0;
    max-width: 50%;
  }
}
.blogHeader {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../assets/images/blog-header.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../assets/images/blog-header.jpg);
  background-position: center;
  background-size: cover;
  height: 70vh;
}

.headerTextContainer {
  padding: 100px 0;
}

.blogHeaderText {
  text-align: center;
}

.blogWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.asideContainer {
  background-color: #0F614E;
  padding: 0 20px;
}

.asideText {
  padding: 16px;
}
.asideText h4 {
  margin-top: 0;
  font-size: 24px;
}
.asideText p {
  line-height: 32px;
  margin-bottom: 20px;
}

.blogAside {
  width: 30%;
  padding: 100px 0;
}
.blogAside img {
  width: 120%;
  position: relative;
  top: -22px;
  left: -64px;
  border: none;
}

.asideList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: disc;
  color: #FFFFFF;
  padding: 20px;
}
.asideList li {
  padding: 2px;
}

.blogSection {
  width: 60%;
  position: relative;
  top: -400px;
}

.blogSection .blogImage img {
  -webkit-box-shadow: -45px 50px 0px 1px #86E0F9;
          box-shadow: -45px 50px 0px 1px #86E0F9;
  width: 100%;
}

.blogSection .blogPost {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 5px;
  -webkit-box-shadow: inset 5px -5px 0px 0px #86E0F9;
          box-shadow: inset 5px -5px 0px 0px #86E0F9;
}

.blogPost h3 {
  text-align: left;
  font-size: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0;
}

.blogPost p {
  margin: 20px 0;
  line-height: 32px;
}

.blogPost, .commentBlock, .blogForm {
  padding-right: 50px;
}

.blogComments {
  padding: 50px 0;
}

.blogComments h3 {
  text-align: left;
}

.commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.commentContainer img {
  margin-top: 30px;
}
.commentContainer .commentText {
  padding-left: 20px;
}
.commentContainer .commentText p {
  margin: 20px 0;
  line-height: 32px;
}

.blogForm fieldset {
  padding: 0;
  border: 0;
}
.blogForm fieldset .fieldSetWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogForm fieldset .fieldSetWrapper label {
  display: none;
}
.blogForm fieldset .fieldSetWrapper input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0C1423;
  border-style: none;
  border-bottom: 2px solid #86E0F9;
  margin-bottom: 60px;
  padding: 30px 20px;
  width: 45%;
  color: white;
}
.blogForm fieldset .fieldSetWrapper textarea {
  background-color: #0C1423;
  border: 2px solid #86E0F9;
  width: 100%;
  padding: 20px;
  color: #FFFFFF;
}

.commentSubmit {
  background-color: #0F614E;
  width: 100%;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
}

@media (max-width: 800px) {
  .asideContainer {
    display: none;
  }
  .blogSection {
    width: 100%;
  }
}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactTextContainer {
  padding: 100px 0;
}

.contactText {
  text-align: center;
}

.asideContactContainer {
  padding-top: 100px;
}
.asideContactContainer h4 {
  padding-left: 20px;
  margin: 20px 0;
  font-size: 25px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.asideContactContainer p {
  padding-left: 20px;
  margin: 0;
  line-height: 32px;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.socialList li {
  padding: 0 15px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.formSection {
  width: 70%;
  position: relative;
  bottom: 700px;
}

.contactForm fieldset {
  padding: 0;
  border: 0;
  -webkit-box-shadow: -30px 30px 0px 0px #86E0F9;
          box-shadow: -30px 30px 0px 0px #86E0F9;
}
.contactForm fieldset .fieldSetWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0F614E;
  padding: 100px;
}
.contactForm fieldset .fieldSetWrapper label {
  display: none;
}
.contactForm fieldset .fieldSetWrapper input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0F614E;
  border-style: none;
  border-bottom: 2px solid #86E0F9;
  margin-bottom: 60px;
  padding: 30px 20px;
  width: 45%;
  color: #FFFFFF;
}
.contactForm fieldset .fieldSetWrapper textarea {
  background-color: #0F614E;
  border: 2px solid #86E0F9;
  width: 100%;
  padding: 20px;
  color: #FFFFFF;
}

.emailSubmit {
  background-color: #0C1423;
  width: 100%;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
}

@media (max-width: 800px) {
  .contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer {
  background-color: #86E0F9;
  color: black;
  text-align: center;
}

footer p {
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  background-color: #0C1423;
}

a.findButton {
  color: #0C1423;
  background-color: #86E0F9;
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a.findButton:hover {
  background-color: #0F614E;
  color: #FFFFFF;
}
a.findButton:focus {
  background-color: #0C1423;
  color: #FFFFFF;
}

a.readButton {
  color: #FFFFFF;
  background-color: #0C1423;
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a.readButton:hover {
  background-color: #86E0F9;
  color: #FFFFFF;
}
a.readButton:focus {
  background-color: #86E0F9;
  color: #FFFFFF;
}

/* UTILITY CLASSES END */
html {
  font-size: 125%;
}

body,
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

section {
  padding: 100px 0 50px 0;
}